<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20062028679-1hhpf5vhh9nl3e79oujfagvhg0ipeasl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20062028679-1hhpf5vhh9nl3e79oujfagvhg0ipeasl</string>
	<key>API_KEY</key>
	<string>AIzaSyAOq-Uam1FxuTupANy1gCFB8s4Molaxo5k</string>
	<key>GCM_SENDER_ID</key>
	<string>20062028679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.dscapp</string>
	<key>PROJECT_ID</key>
	<string>recyclingappdsc</string>
	<key>STORAGE_BUCKET</key>
	<string>recyclingappdsc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20062028679:ios:6ef1db5899ead781098922</string>
</dict>
</plist>